BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #555555; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Arial, Tahoma
}
A:link {
	COLOR: #1ab7ea; TEXT-DECORATION: underline
}
A:active {
	COLOR: #1ab7ea; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #1ab7ea; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #555555; LINE-HEIGHT: 17px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Tahoma
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #555555; LINE-HEIGHT: 17px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Tahoma
}
label{ padding: 5px; display:block; font-size: 14px; COLOR: #555555; FONT-FAMILY: Arial, Tahoma;}
HR {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #e4e4e4 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Tahoma; HEIGHT: 19px
}
SELECT {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: Arial, Tahoma
}

.star {
	MARGIN-BOTTOM: -4px
}
.radio {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; FONT-FAMILY: Arial, Tahoma; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 17px; FONT-FAMILY: Arial, Tahoma
}
TR {
	FONT-SIZE: 12px; LINE-HEIGHT: 17px; FONT-FAMILY: Arial, Tahoma
}
P {
	FONT-SIZE: 12px; LINE-HEIGHT: 17px; FONT-FAMILY: Arial, Tahoma
}
A IMG {
	COLOR: white
}

@media All    
{
.text14 {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Tahoma
}
.text16 {
	FONT-SIZE: 16px; COLOR: #666666; FONT-FAMILY: Tahoma
}
.text11 {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 12px; FONT-FAMILY: Tahoma
}
A IMG {
	
}
    }
H1 {
	FONT-SIZE: 200%
}
H2 {
	FONT-SIZE: 170%
}
H3 {
	FONT-SIZE: 140%
}
H4 {
	
}
PRE {
	FONT-FAMILY: Arial, Tahoma
}
CODE {
	FONT-FAMILY: Arial, Tahoma
}
UL.toc {
	LIST-STYLE-TYPE: none
}
OL.toc {
	LIST-STYLE-TYPE: none
}
H1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
H3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
H4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
H5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
H6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
.hide {
	DISPLAY: none
}


/* css ????????????????????????????????? */
table.noborder td
{
	border: 0px none #FFFFFF;
}

table.DataTable
{
	border: 1px solid #AAAAAA;
	border-collapse:collapse;
}

table.DataTable tr{
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
	padding: 5px;
	margin: 0px;
}

tr.HeaderCols
{
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
	padding: 5px;
	margin: 0px;
}

tr.HeaderCols td{
	border: 1px solid #AAAAAA;
	background-color: #CCCCCC;
	padding: 5px;
	margin: 0px;
}

tr.ContentCols{
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding: 4px;
	margin: 0px;
}

tr.ContentCols td{
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding: 4px;
	margin: 0px;
}

tr.StyleSum{
	border: 1px solid #CCCCCC;
	background-color: #EBEBEB;
	padding: 3px;
	margin: 0px;
}

tr.StyleSum td{
	border: 1px solid #CCCCCC;
	background-color: #EBEBEB;
	padding: 3px;
	margin: 0px;
}
#div-from{ width: 95%; padding: 10px; margin: 10px auto; border: dashed 1px #999999;}
#div-export{  width: 900px; padding:2px; margin:0px auto; text-align:right; }